html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    margin:0;
    padding:0;
    font-family: 'DM Sans', sans-serif;
    font-weight:400;  
    max-width:100%;
    animation-delay: 2s;
}

/*First page with black background*/
#about{
    height:fit-content;
    background-color: #000000;
}

#firstpart{
    height:100vh;
    width:100%;
}

.navbar-icon{
    display: inline-block;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

header ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0.5rem;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

header ul li a,header ul li a:hover{
    font-size: .7rem;
    text-decoration: none;
    color: #FFFFFF !important;
    font-weight: 600;
    cursor: pointer !important;
}

.whotxt{
    font-size: 14px;
    margin: 0px 0px 20px 0px;
    color:rgba(255,255,255,.48);
    margin-top: 34%;
}

h3{
    font-size: 42px;
    line-height: 54px;
    font-weight: 400;
    text-transform: none;
    color:#fff;
}

.scrollpart{
    margin-top: 13%;
    margin-left: 4%;
}

.scrollpart:hover{
    cursor: pointer;
}

.scrollbtnring{
    border: 1px solid rgba(255,255,255,0.48);
    width: 52px;
    height: 52px;
    float: left;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-left: 6%;
    position: relative;
}

.downarrow{
    margin-left: 35%;
    margin-top: 10%;
    position: absolute;
    color:#fff;
    width:7.13px;
    text-decoration: none;
}

.scrolltxt{
    color:rgba(255,255,255,.48);
    margin-left: 1%;
    font-size: 12px;
    margin-left: 2%;
}

.scrolltxt:hover{
    color:#fff;
    text-decoration: none;
    font-size: 12px;
    transition: ease-in 0.2s;
}

/*First page ended*/

/*Second page started*/
#services{
    height:100vh;
    max-width: 100%;
    background-color: rgb(255,255,255);
    z-index: 2;
}

.ourtxt{
    font-size: 14px;
    line-height: 22px;
    color:rgb(39, 7, 7);
    margin-top: 9%;
}

.rowspace{
    height:40px;
}

.passiontxt{
    font-size: 20px;
    color:#000000;
    line-height: 1.7;
    font-weight: 400;
    margin-top: -0.12em;
    margin-bottom: 12.8px;
}

.webuildtxt{
    font-size: 15px;
    display: block;
    margin-top: 40px;
    color:rgba(0,0,0,0.61);
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

ul{
    list-style: none;
}

li{
    font-size: 15px;
    text-align: left;
    min-height: 100%;
    line-height: 1.7;
}

strong{
    font-size: 20px;
}

.carousel {
    margin-top: 15%;
    margin-bottom: 120px;
    height: fit-content;
    border:none;
    outline:none;
    cursor: url('../assets/images/About/bigdragicon.png'), auto;
}

.carousel-cell {
  width: 780px;
  height: 519.98px;
  margin-right: 100px;
  overflow-x: hidden;
  border:none;
  outline:none;
}

#lastpart{
    background-color: #000000;
    z-index: 250;
}

.wetxt{
    font-size: 28px;
    line-height: 41px;
    text-transform: none;
    color:#fff;
    margin-top: 16%;
}

.c--anim-btn span {
    color: white;
    height:24px;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 13px;
  }
    
  .c--anim-btn, .c-anim-btn {
    transition: 0.2s;     
  }
  
  .c--anim-btn {
    overflow: hidden;
    width: 281.67px;
    height: 24px;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
  .c--anim-btn:hover .c-anim-btn{
    margin-top: -1.6em;
  }

  hr{
      background-color: rgba(255,255,255,0.48);
      width:281.67px;
      margin-top: 0%;
      margin-bottom: 12%;
  }

  .lastimages{
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }

  .space{
      margin-top: 60px;
  }

  .awardtxt{
      color:rgba(255,255,255,0.48);
      font-size: 14px;
      margin-left: 41%;
      margin-top: 27%;
  }

  .awarddesc{
    font-size: 30px;
    line-height: 41px;
    text-transform: none;
    color:#fff;
    margin-top: 17%;
    margin-left:5%;
  }

.awarddescspace{
    margin-top: 40px;
}
  .awardlist{
      color:#fff;
      margin-left: -15px;
      margin-top: 12px;
      font-size: 15px;
  }
.footerspace{
    height:20%;
    background-color: #000000;
}

  #footer{
      background-color:#000000;
      height:fit-content;
      bottom:0;
  }

  .craftingtxt{
      font-size: 12px;
      color:#FFFFFF;
      margin-left: 5%;
  }
  
  .brandtxt ul{
      margin-left: 2.2%;
  }
  .brandtxt ul li{
    position: relative;
    list-style-type: none;
    display:inline;
  }

  .brandtxt ul li a{
    text-decoration: none;
    color:rgba(255,255,255,.69);
    font-size: 12px;
    padding-right: 20px;
  }

  .fb:hover{
      color:#3B5998;
  }
  
  .tw:hover{
    color:#00acee;
}

.ig:hover{
    color:#d86c2e;
}

.dr:hover{
    color:#EA4C89;
}