
@import url('./fonts.css');


body
{
    font-family: 'DM Sans', sans-serif;
    background: #000;
    color: rgba(255,255,255,.69);
    width: 100%;

}

 .fadeIn{
    animation-duration: 2s;
    animation-delay: 0s;
}

.rotateInUpRight{
    animation-duration: 1s;
    animation-delay: 0s;
}

.primary-color
{
    color: #ffffff;
}
.secondary-color
{
    color:rgba(255,255,255,.48) ;
}

.spacer-big
{
    display: block;
    height: 100px;
}
.spacer-medium
{
    display: block;
    height: 80px;
}
.spacer-avg
{
    display: block;
    height: 60px;
}
.spacer-small
{
    display: block;
    height: 40px;
}
.spacer-mini
{
    display: block;
    height: 20px;
}




.hero-banner{
    height: auto;
    margin: 7rem auto;
}

.hero-wrapper{
    width: 70%;
    margin: auto;
}

.hero-banner h1{
    font-size: 82px;
    line-height: 96px;
    font-weight: 700;

}

.hero-animation{
    transform: translateY(15%) rotate(-2deg);
    transform-origin: top right;
    opacity: 0;
}

.hero-animation1{
    transform: translateY(100%) rotate(-3deg);
    transform-origin: top right;
    opacity: 0;
}

.hero-banner span{
    font-size: 12px;
    line-height: 19px;
    
}

.hero-banner .post-meta .post a:hover{
    color: #ffffff; 
    text-decoration: none;
    transition: 0.4s ease;

}


.post-date::after, .post-author::after {
    content: "";
    display: inline-block;
    top: 50%;
    /* right: -22px; */
    width: 13px;
    transform: translateY(-3px);
    margin-left: 1%;
    margin-right: 0.7%;
    height: 1px;
    background-color:rgba(255,255,255,.28);
}


.main-image{
 
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.hero-image-wrapper{
    width: 80%;
    margin: auto;
}


.hero-content h4{
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    
}

.wrapper-small{
    width: 53%;
    margin: auto;
}

.hero-content p{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 0;
}

.carousel {
    /* margin-top: 15%; */
    /* margin-bottom: 120px; */
    height: fit-content;
    border:none;
    outline:none;
    cursor: url('../assets/images/About/bigdragicon.png'), auto !important;
    
}

.carousel-cell {
  width: 780px;
  height: 519.98px;
  margin-right: 100px;
  overflow-x: hidden;
  border:none;
  outline:none;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor:  url('../assets/images/About/smalldragicon.png'), auto !important;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor:  url('../assets/images/About/bigdragicon.png'), auto !important;
}





.single-pagination {
    border-top: 1px solid rgba(0,0,0,0.11);
    border-bottom: 1px solid rgba(0,0,0,0.11);
    padding: 50px 0;
    margin-top: 100px;
    border-color: rgba(255,255,255,.28);
    margin-bottom: 100px;
}  

.pagination li {
    padding: 0;
    display: inline-block;
    margin: 0;
    
}

.pagination li a {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    display: inline-block;
    padding: 0 5px;
    max-width: 100%;
    text-decoration: none;

}
 .pagination li a .text {
    color: rgba(255,255,255,.48);
}
 .pagination li a .post-title {
    font-weight: 600;
    font-size: 16px;
    display: block;
    margin-top: 3px;
    color: #fff;
    letter-spacing: 0em;
}

.pagination li .post-title:hover {
    opacity: 0.5;
    transition: 0.5s ease;
}


.single-pagination ul{
    margin-bottom: 0;
    margin-top: 0;
}

.form-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 2rem;
}

label{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255,255,255,.48);
    line-height: 24px;
    display: block;

}

.text-area
{
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.28);
    height: 100px;
    color: #fff;
    padding: 10px 0px 2px 0;
    border-radius: 0;
    margin-bottom: 50px;
    width: 100%;
}

input{
    width: 100%;
    height: 35px;
    border: none;
    color: #fff;
    padding: 0rem;
    background: transparent;
    border-color: rgba(255,255,255,.28);
    border-radius: 0;
    border-bottom: 1px solid rgba(255,255,255,.28);

}

input:focus{
    outline: none;
}

.text-area:focus{
    outline: none;

}

.submit{
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        padding: 10px 27px;
        margin-bottom: 5px;
        color: #000;
        background: #fff;
        display: inline-block;
        border: none;
        margin-top: 50px;
        width: auto;
        height: 1.8rem;
        position: relative;
        border-radius: 0;
}

input[type="submit"]:hover, .button:hover, button:not(.sr-button):hover {
    background: rgba(255,255,255,.69);
    color: #000;
    transition: 0.4s ease;
}


.sidebar-share div, .sidebar a {
    text-decoration: none;
    color: white !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}

.sidebar-share, .sidebar{
    z-index: 100;
}

#footer{
    margin-top: 100px;
    opacity: 1;
    margin-bottom: 20px;
}

.footer-content h6{
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    color: white;
    font-size: 12px;
    line-height: 19px;
}

.footer-content ul{
    padding: 0;
    margin: 0;
}

.footer-content li{
    list-style: none;
    display: inline-block;
    font-size: 14px;
}

.footer-content li a{
    color: rgba(255,255,255,0.55);
    padding-right: 30px;
    transition: all 0.2s ease;
    text-decoration: none;
    font-size: 12px;
}

.copyright h6:hover{
    color: rgba(255,255,255,1);
}

.copyright h6{
    float: right;
    padding-top: 35px;
    color: rgba(255,255,255,0.55);
    font-size: 12px;
    line-height: 19px;
    transition: all 0.2s ease;
}

.facebook a:hover{
    color: #385994!important;
}
.twitter a:hover{
    color: #56a0c0!important;
}

.instagram a:hover{
    color: #95604b!important;
}

.dribbble a:hover{
    color: #f14980!important;
}



.nav-inner-wrapper {
    margin: auto;
    max-width: 1189px;
    margin-top: 1rem;
}

header ul li a,header ul li a:hover{
    font-size: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.nav-hover:hover::before,.navigation-selected::before {
    transition: width 0.4s cubic-bezier(0.04, 0.03, 0, 1.01);
    position: absolute!important;
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgba(255,255,255,.5);
    bottom: 0px;
    left: 0;
}
.line {
    height: 2px;
    position: absolute;
    justify-content: center;
    transition: all ease 0.45s;
    background-color: white;
}


/* -------------------------------------------media queries---------------------------------------------------- */

@media only screen and (max-width: 1199px){

.container{
    max-width: 1140px;
}
}

@media only screen and (max-width: 1024px){

    .hero-banner h1 {
        font-size: 74px;
        line-height: 88px;
    }
    .hero-wrapper{
        width: 80%;
        margin: auto;
    }
    
}

@media only screen and (max-width: 991px){

    .wrapper-small{
        width: 63%;
        margin: auto;
    }

}


@media only screen and (max-width: 767px){

    .hero-wrapper{
        width: 90%;
        margin: auto;
    }
    .hero-banner h1 {
        font-size: 54px;
        line-height: 60px;
    }
    .hero-content h4 {
        font-weight: 400;
        font-size: 26px;
        line-height:35px;
    }
    input{
        margin-bottom: 2rem;

    }
    .hero-image-wrapper {
        width: 89%;
        margin: auto;
    }
   
    
}

@media only screen and (max-width: 575px){

    .wrapper-small{
        width: 73%;
        margin: auto;
    }
    .spacer-small{
    display: block;
    height: 20px;
}
.hero-banner {
    height: auto;
    margin: 6.5rem auto;
}


}

@media only screen and (max-width: 425px){

.hero-banner h1 {
        font-size: 34px;
        line-height: 43px;
    }

    .spacer-big{
        display: block;
        height: 60px;
    }

    .wrapper-small {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 375px){

    .hero-content h4 {
        font-size: 22px;
        line-height:32px;
    }

    .spacer-avg{
        display: block;
        height: 40px;
    }
}

@media only screen and (max-width: 320px){

    .spacer-medium{
        display: block;
        height: 50px;
    }
    .spacer-big{
        display: block;
        height: 50px;
    }
    .pagination li a .post-title {
        font-size: 13px;
    }
    
}