body{
    margin: 0;
    padding: 0;
}

.background{
    background-color: #ff6c3f;
}

#home-page-content{
    overflow:  hidden;
	position: relative;									
	margin: 0;
	max-width: 100%;
	min-height: 101vh;
	word-wrap: break-word;
}

#home-page-body {
    position: relative;
    z-index: 2;
}

#page-body{
    padding-top: 188px;
    padding-bottom: 188px;
}

.page-body-wrapper{
    padding: 120px 0;
    position: relative;
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
    max-width: calc(100% - 160px);
}