*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.background{
    background: #ff6c3f;
}

#home{
    height: 100vh;
}

.home-page-content{
    padding-top: 180px;
    padding-bottom: 155px;
    z-index: 1;
}

.home-page-list #list-item a *{
    display: inline-block;
    color: black;
    position: sticky;
}

#list-item:hover a *{
    color: #ff6c3f;
}

#list-item{
    display: inline-block;
    margin-left: 10px;
}

.home-page-list #list-item a  h4{
    font-weight: 400;
    font-size: 82px;
    line-height: 96px;
    margin-right: 6px;
    transition: all 0.4s;
    text-transform: uppercase;
}

.home-page-list #list-item a  span{
    font-weight: 100;
    font-size: 20px;
    line-height: 29px;
    transition: all 0.4s;
    text-transform: uppercase;
}

.home-page-list{
    text-align: left;
}

a:hover{
    text-decoration: none;
}

#home-page-bg img{
    position: absolute;
    top: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all 0.4s ease-out;
}
