header ul li a,header ul li a:hover{
    color: white;
}
.journal{
    background-image: url('../assets/images/Journal/blog-bg.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero{
    padding-top: calc(60px + 100px + 25px);
    position: relative;
    transition: all 0.7s ease;
}
.hero-inner h2{
    font-size: 64px;
    color: white;
}
.hero-margin{
    margin:100px;
}
.title-alt{
    color: rgba(255, 255, 255, 0.48);
    font-size: 16px;
    margin: 20px 0px -1.92px;
}

.list-wrapper{
    padding-top: 120px;
    position: relative;
    
}
.li-item{
    position: relative;
    z-index: 4;
    opacity: 1;
}
.li-item a{
    display: block;
    max-width: 80%;
    padding: 0px;
}
a{
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500s;
    height: 103px;
}
.wrapper-med{
    width: 1080px;
    /* height: 103px; */
}
.entry-title{
    color: white;
    float: right;
    width: calc(100% - 210px);
    font-size: 30px;
}
.caroline{
    width: 500px;
    height: 300px;
    float: right;
    display: none;
    position: absolute;
    left: -65%;
    pointer-events: none;
}
.entry-title .caroline:hover{
    visibility: visible;
}
.post-title{
    margin: 10px 0 20px 0;
}
.post-title span{
    display: block;
    margin-bottom: 10px;
}
.post-date{
    font-size: 12px;
    line-height: 19px;
    color: rgba(255,255,255,.48);
    margin-right: 30px;
    position: relative;
    word-wrap: normal;
    text-decoration: none;
}
.post-cat{
    font-size: 12px;
    line-height: 19px;
    color: rgba(255,255,255,.48);
    margin-right: 30px;
    position: relative;
    word-wrap: normal; 
    
}
.pg-pagination{
    margin: 80px 0 40px 0;
    overflow: hidden;
    font-size: 15px;
}
.pagination{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    text-align: center;
    transition: all 0.45s cubic-bezier(0.195, 0.290, 0.045, 0.995) 0.4s;
}
.pagination li {
    padding: 0;
    display: inline-block;
    margin: 0 3px;
}
.pagination li.inactive{
    pointer-events: none;
    opacity: 0.15;
}
.pagination li.previous{
    text-align: left;
    float: left;
    width: 90px;
}
.pagination li:first-child{
    margin-left: 0;
}
ul li:first-child {
    margin-top: 0;
}
.btn-style{
    color: #fff;
    border-color: (255,255,255,.28);
    background: none;
    line-height: 20px;
    height: 20px;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11)!important;
    border-radius: 0%;
}
.text{
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    vertical-align: top;
}