/* header ul li a,header ul li a:hover{
    color: white;
}
.line{
   background-color: black;
}

header ul li a .default{
    transform: translateY(0%);
}

header ul li a:hover .default{
    transform: translateY(100%);
    opacity: 0;
}

header ul li a .navlist-hover{
    transform: translateY(-150%);
    opacity: 0;
}

header ul li a:hover .navlist-hover{
    transform: translateY(-100%);
    opacity: 1;
}
.nav-hover:hover::before, .navigation-selected::before {
    background-color: rgba(255,255,255,0.5);
} */

nav{
    z-index: 1000;
}

.line {
    background-color: White;
}
header ul li a, header ul li a:hover {
    font-size: .45rem;
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.list-box {
    height: 16px;
}
.nav-hover:hover::before, .navigation-selected::before {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}.line {
    background-color: White;
}
header ul li a, header ul li a:hover {
    font-size: .45rem;
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.list-box {
    height: 16px;
}
.nav-hover:hover::before, .navigation-selected::before {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}



body{
    background-image: url('../assets/images/Journal/blog-bg.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero{
    width: 100%;
    margin-top: calc(60px + 100px + 25px);
    position: relative;
    transition: all 0.7s ease;
    height: auto;
}
.hero-inner h2{
    font-size: 64px;
    color: white;
}
.hero-margin{
    margin:100px;
}
.title-alt{
    color: rgba(255, 255, 255, 0.48);
    font-size: 16px;
    margin: 20px 0px -1.92px;
}

.list-wrapper{
    padding-top: 120px;
    position: relative;
    
}
.li-item{
    position: relative;
    z-index: 4;
    opacity: 1;
    margin-top: 50px;
    /* height: 103px; */
}
.li-item a{
    display: block;
    max-width: 80%;
    padding: 0px;
}
a{
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500s;
    /* height: 103px; */
}
.wrapper-med{
    width: auto;
    /* height: 103px; */
}
.entry-title{
    color: white;
    float: right;
    width: calc(100% - 210px);
    font-size: 30px;
}
@keyframes reveal{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}
.caroline{
    width: 500px;
    height: 300px;
    float: right;
    display: none;
    position: absolute;
    left: -65%;
    pointer-events: none;
    animation: reveal 0.5s reverse forwards;
    animation-delay: .5s;
    transform-origin: top;

  animation: reveal .5s ease-in-out forwards;
}
.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.4s ease-in both;
	        animation: scale-up-ver-top 0.4s ease-in both;
}
/* .post-title{
    margin: 10px 0 20px 0;
} */
.post-date,.post-cat{
    display: block;
    margin-bottom: 10px;
}
.post-date{
    font-size: 12px;
    line-height: 19px;
    color: rgba(255,255,255,.48);
    margin-right: 30px;
    position: relative;
    word-wrap: normal;
    text-decoration: none;
}
.post-cat{
    font-size: 12px;
    line-height: 19px;
    color: rgba(255,255,255,.48);
    margin-right: 30px;
    position: relative;
    word-wrap: normal; 
    
}
.page-pagination{
    margin: 80px 0px 40px 0px;  
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    /* overflow: hidden; */
}
.pg-pagination{
    margin: 80px 0 40px 0;
    overflow: hidden;
    font-size: 15px;
}
/* .pg-pagination a{
    border-bottom: 1px solid rgba(255, 255, 255, 0.48);
} */
.pagination{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    text-align: center;
    transition: all 0.45s cubic-bezier(0.195, 0.290, 0.045, 0.995) 0.4s;
}
.pagination li {
    padding: 0;
    display: inline-block;
    margin: 0 3px;
}
.inactive{
    pointer-events: none;
    opacity: 0.15;
}
.previous{
    text-align: left;
    float: left;
    width: 90px;
    margin-right: 15px;
}
.pagination li.previous a{
    border-bottom: 1px solid rgba(255, 255, 255, 0.48);
    text-decoration: none;
}
.page{
    display: inline-block;
    float: none;
    position: relative;
    /* text-align: center; */
}
.page span{
    display: block;
    transition: all 0.2s ease;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    padding: 0 5px;
    max-width: 100%;
}
.current{
    color: #fff;
}
.page a{
    transition: all 0.2s ease;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.48);
    padding: 0px 5px;
    text-decoration: none;
}
.page a:hover{
    color: white;
}
.pagination li:first-child{
    margin-left: 0;
}
ul li:first-child {
    margin-top: 0;
}
.btn-style{
    color: #fff;
    border-color: (255,255,255,.28);
    background: none;
    line-height: 20px;
    line-height: 20px;
    height: 20px;
    padding: 0;
    border-radius: 0%;
}
.text{
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    vertical-align: top;
    font-size: 12px;
    font-weight: 400;
}
.next{
    right: 0;
    text-align: right;
    width: 90px;
    position: absolute;
}

#center{
    position: absolute;
    left: 45%;
}

.next a{
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.48);
    margin-left: 20px;
    float: right;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

#footer{
    opacity: 1;
    transform: none;
    transition: opacity 0.35s ease 0.6s, transform 0.35s ease 0.6s;
    z-index: 3;
    position: relative;
    width: 100%;
}
.footer-wrapper{
    padding: 50px 0px;
    margin: 0 80px;
    max-width: calc(100% - 160px);
}
.col-section{
    width: calc(50% - 20px);
    margin-right: 40px;
    float: left;
    box-sizing: border-box;
    min-height: 50px;
}
.h8{
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    color: white;
    margin: -1.44px 0 0;
}
.social-media{
    /* margin: 30px 0 0 0; */
    padding: 0;
    list-style: none;
    display: inline-block;
    text-align: left;
}
.social-media li{
    display: inline-block;
    margin: 0;
    position: relative;
    color: rgba(255, 255, 255, 0.48);
}
.social-media a{
    color: white;
    height: 16px;
    transition: all 0.2s ease;
    /* display: block; */
    text-align: center;
    font-size: 12px;
    line-height: 19px;
    padding-right: 30px;
    width: 70px;
    padding: 5px 30px 0 0;
    opacity: .48;
    display: inline-flex;
    text-decoration: none;
}

#footer .facebook a:hover{
    color: #446ebf;
}
#footer .twitter a:hover{
    color: #39aadc
}
#footer .instagram a:hover{
    color: #95604b;
}
#footer .dribbble a:hover{
    color: #f14980;
}
.right-col{
    text-align: right;
}
.copyright{
    font-size: 12px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.48);
    margin-top: 30px;
}
.copyright h6{
    color: rgba(255, 255, 255, 0.48);
}
.copyright a{
    color: rgba(255, 255, 255, 0.48);
    border-bottom: 1px solid rgba(255, 255, 255, 0.48);
    text-decoration: none;
}
.ht{
    height: 30px;
}

.pagination li a{
    font-size: 12px;
}

.pagination li #hover-next span{
    display: block;
    text-decoration: none;
    transition: all 0.4s;
}

.pagination li #hover-next .default{
    transform: translateY(0%);
}

.pagination li #hover-next:hover .default{
    transform: translateY(100%);
    opacity: 0;
}

.pagination li #hover-next .navlist-hover{
    transform: translateY(-200%);
    opacity: 0;
}

.pagination li #hover-next:hover .navlist-hover{
    transform: translateY(-100%);
    opacity: 1;
}

.pagination li #hover-next, .pagination li a:hover{
    font-size: 12px;
    text-decoration: none;
    color: white;
}
.footer-content h6{
    color: white;
}
.footer-content li a{
    color: rgba(255, 255, 255, 0.48);
}
