

@import url('./fonts.css');

body
{
    font-family: 'DM Sans', sans-serif;
    background: #000;
    color: rgba(255,255,255,.69);
    width: 100%;

}


.primary-color
{
    color: #ffffff;
}
.secondary-color
{
    color:rgba(255,255,255,.48) ;
}

.spacer-big
{
    display: block;
    height: 100px;
}
.spacer-medium
{
    display: block;
    height: 80px;
}
.spacer-avg
{
    display: block;
    height: 60px;
}
.spacer-small
{
    display: block;
    height: 40px;
}
.spacer-mini
{
    display: block;
    height: 20px;
}


/*----------------------------------------- hero-banner ---------------------------------------*/
.hero-banner{
    background: url(../assets/images/Monck/portfolio-main-30-1680x1120.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    transition:0.3s ease;
}


.hero-content{
    margin: auto;
    animation-duration: 1.5s;
    animation-delay: 0s;
}
.hero-title{
    font-size: 82px;
    font-weight: 700;
    margin-bottom: 0;
}
.hero-line{
    font-size: 16px;
    padding-left: 2.5rem;
    line-height: 24px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0;

}

/* -----------------------------------------about section--------------------------------------- */

.about-area{
    margin: auto;
    height: fit-content;   
}

.about-area .width-60{
    margin: auto;
    width: 71%;
}

.hero-wrapper{
    margin: auto;
    width: 97%;
}

.about-area h6{
    font-size: 14px;
    padding-bottom: 1rem;
    letter-spacing: 0.08rem;
}

.about-area p{
    font-size: 15px;
}

.about-area h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
}

.about-area .content-part p{
    font-size: 15px;
    line-height: 1.7;
}

.about-image{
 
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/* -----------------------------------------------product section----------------------------------------- */

.product-area .product-title span{
    font-size: 42px;
    font-weight: 700;
    line-height: 54px;
    display: block ;
    text-align: center;
}

.title-wrapper {
    width: 32%;
    margin: auto;
}

.product-area h6{
    font-size: 14px;
    /* padding-bottom: 1rem;
    margin-bottom: 0px;
    padding-bottom: 0px; */
    letter-spacing: 0.08rem;
}

.product-area h3{
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    /* margin-bottom: 0px; */
}



.product-content{
    padding: 0 2rem 0 0;
}

.product-area p{
    font-size: 15px;
    margin-bottom: 2rem;
}

.product-image{
 
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/* -------------------------------------------photo gallery---------------------------------------------- */

.product-image1 {
    height: 100%;
    width: 110%;
    margin: 0 auto;
}

.product-sublevel
{
    height: 100%;
    top: 0;
    margin-left: 3rem;
}

.product-sublevel1{

    margin: 0 80px 80px 0;
    padding: 58px 34px 11px 0;
}

.product-sublevel2{
    margin: 0 80px 80px 0;
    padding: 0px 23px 11px 11px;
}



/* -------------------------------------------last section------------------------------------ */

.last-section{
    height: 100vh;
}




.common-text a{
    color: White;
}




.sidebar-share div, .sidebar a {
    text-decoration: none;
    color: white !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}

.sidebar-share, .sidebar{
    z-index: 100;
}

#footer{
    opacity: 1;
    margin-bottom: 20px;
}

.footer-content h6{
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    color: white;
    font-size: 12px;
    line-height: 19px;
}

.footer-content ul{
    padding: 0;
    margin: 0;
}

.footer-content li{
    list-style: none;
    display: inline-block;
    font-size: 14px;
}

.footer-content li a{
    color: rgba(255,255,255,0.55);
    padding-right: 30px;
    transition: all 0.2s ease;
    text-decoration: none;
    font-size: 12px;
}

.copyright h6:hover{
    color: rgba(255,255,255,1);
}

.copyright h6{
    float: right;
    padding-top: 35px;
    color: rgba(255,255,255,0.55);
    font-size: 12px;
    line-height: 19px;
    transition: all 0.2s ease;
}

.facebook a:hover{
    color: #385994!important;
}
.twitter a:hover{
    color: #56a0c0!important;
}

.instagram a:hover{
    color: #95604b!important;
}

.dribbble a:hover{
    color: #f14980!important;
}



.nav-inner-wrapper {
    margin: auto;
    max-width: 1189px;
    margin-top: 1rem;
}

header ul li a,header ul li a:hover{
    font-size: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.nav-hover:hover::before,.navigation-selected::before {
    transition: width 0.4s cubic-bezier(0.04, 0.03, 0, 1.01);
    position: absolute!important;
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgba(255,255,255,.5);
    bottom: 0px;
    left: 0;
}
.line {
    height: 2px;
    position: absolute;
    justify-content: center;
    transition: all ease 0.45s;
    background-color: white;
}




/* -----------------------------------------media queries------------------------------------------ */

@media only screen and (max-width: 1199px){

    .container{
        max-width: 1140px;
    }
    .hero-wrapper {
        margin: auto;
        width: 94%;
    }
    .title-wrapper {
        width: 36%;
        margin: auto;
    }
}

@media only screen and (max-width: 991px){


    .product-sublevel {
        margin: auto;
        width: 90%;
    }
    .hero-title{
        font-size: 74px;
        line-height: 88px;
    }
    .hero-line{
        padding-left: 3rem;
    }
    .product-sublevel1{

        margin: 0 10px 10px 0;
        padding: 58px 34px 11px 0;
    }
    
    .product-sublevel2{
        margin: 0 10px 10px 0;
        padding: 0px 23px 11px 11px;
    }

    .about-area h3{
        font-size: 28px;
        line-height: 38px;
    }
    .about-area .width-60 {
        margin: 0 auto;
        width: 82%;
    }
   
    .about-area .content-part p {
        font-size: 14px;
        line-height: 1.7;
    }
    .product-area .product-title span {
        font-size: 38px;
        line-height: 48px;
    }
    .title-wrapper {
        width: 44%;
        margin: auto;
    }
    .about-area p {
        font-size: 14px;
    }
    .spacer-big{
        height: 80px;
    }
    .spacer-medium{
        height: 60px;
    }
    .hero-wrapper {
        margin: auto;
        width: 90.5%;
    }
    .next-page h1 {
        font-size: 52px;
    }
}

@media only screen and (max-width: 767px){

    .about-area .width-60{
        margin: auto;
        width: 93%;
    }
    .hero-title {
        font-size: 54px;
        line-height: 57px;
    }
    .hero-line {
        font-size: 14px;
        padding-left: 1.5rem;

    }
    .product-sublevel1 {
        margin: 0 auto;
        /* padding: 58px 20px 11px 0; */
        padding: initial;
    }
    .product-area .product-title span {
        font-size: 34px;
        line-height: 44px;
    }
    .about-area h3{
        font-size: 25px;
        line-height: 34px;
    }

    .product-sublevel2 {
    margin: 2rem auto 0;
    padding: initial;
    }

    .product-image1 {
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }

    .spacer-big {
    height: 60px;
    }
    .title-wrapper {
        width: 62%;
        margin: auto;
    }
    .spacer-small {
        height: 30px;
    }
    .spacer-medium{
        height: 50px;
    }
}


@media only screen and (max-width: 575px){

    .spacer-medium {
        display: block;
        height: 50px;
    }
    .spacer-avg {
        display: block;
        height: 40px;
    }
    .spacer-small{
        display: block;
        height: 30px;
    }
    
    .product-area h3 {
        font-size: 25px;
        line-height: 34px;
    }

    .title-wrapper {
        width: 83%;
        margin: auto;
    }
    .about-area h3 {
        font-size: 25px;
        line-height: 34px;
    }
    .next-page h1 {
        font-size: 40px;
    }
}


/* @media only screen and (max-width: 411px){

    
    .about-area h6 {
        padding-bottom: 0rem;
    }
    .product-area h3 {
        line-height: 35px;
        font-size: 25px;

    }
} */

@media only screen and (max-width: 320px){

    .hero-title {
        font-size: 36px;
        line-height: 43px;
    }
    .hero-line {
        font-size: 14px;
        padding-left: 0rem;
    }
    
    .about-area h3 {
        font-size: 23px;
        line-height: 32px;
    }
    .product-area h3 {
        line-height: 32px;
        font-size: 22px;

    }
    .product-area .product-title span {
        font-size: 28px;
        line-height: 38px;
    }
    .title-wrapper {
        width: 82%;
        margin: auto;
    }
    .spacer-big {
        display: block;
        height: 50px;
    }

    .spacer-medium {
        display: block;
        height: 40px;
    }
    .spacer-avg {
        display: block;
        height: 30px;
    }
    .spacer-small{
        display: block;
        height: 20px;
    }


}