body{
    color: black;
}
.parallax {
    background-image: url("../assets/images/Yatai/portfolio-hero-2.jpg");
    min-height: 100vh; 
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-color: transparent;  */
}

.sidebar-share div, .sidebar a {
    text-decoration: none;
    color: white !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}

.sidebar-share, .sidebar{
    z-index: 100;
}

.parallax-text{
    position:absolute;
    bottom: 30px;
    /* left: 46%; */
    left: 50%;
    margin-left: -85px;
    font-size:75px;
    background-color: transparent;
}
/* .yatai-description{
    background-color: white;
    width: 780px;
    margin-left: auto;
    margin-right: auto;
} */
.description{
    width: 90%;
    margin-bottom: -20px;
}
.primary-font{
    font-size: 14px;
}
.primary-opacity{
    opacity: 0.61;
}
.secondary-font{
    font-size: 11px;
}
.secondary-opacity{
    opacity: 0.31;
}
.big-space{
    margin-top: 100px;
}
.small-space{
    margin-top: 40px;
}
.mix-img{
    height: 100%;
    width: 100%;
    float: right;
    /* margin: 0 auto; */
}
.gif1-position{
    height: 90%;
    width: 90%;
    float: right;
}
.gif2-position{
    margin-top: 50px;
    width: 90%;
    height: 90%;
}
.last-class{
    height: 500px;
}



.last-section{
    height: 100vh;
}

.next-page a{
    /* position: relative; */
    text-decoration: none;
}

.last-section .next-page h1{
    font-size: 64px;
    font-weight: 700;
    text-decoration: none;
    z-index: 1;
    margin: auto;
    position: relative;
    display: inline;
    left: 25rem;
    top: 25rem;
}

.common-text a{
    color: black;
}

.carousel {
    /* margin-top: 15%; */
    /* margin-bottom: 120px; */
    height: fit-content;
    border:none;
    outline:none;
    cursor: url('../assets/images/About/bigdragicon.png'), auto !important;

}

.carousel-cell {
  width: 780px;
  height: 519.98px;
  margin-right: 100px;
  overflow-x: hidden;
  border:none;
  outline:none;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor:  url('../assets/images/About/smalldragicon.png'), auto !important;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor:  url('../assets/images/About/bigdragicon.png'), auto !important;
}




@media only screen and (max-width: 1199px){


}
@media only screen and (max-width: 991px){
    .parallax-text{
        font-size: 68px;
        margin-left: -80px;
    }
    .small-space{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 767px){
    .parallax-text{
        font-size: 60px;
        margin-left: -71px;
    }
    .gif1-position{
        float: left;
    }
}

@media only screen and (max-width: 575px){
    .gif1-position{
        float: left;
    }
}
