
.parallax {
    background-image: url("../assets/images/Yatai/portfolio-hero-2.jpg");
    min-height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent; 
}

.parallax-text{
    /* height:auto; */
    /* font-size:40px; */
    display: flex;
    background-color: transparent;
}

.h1{
    font-weight: 700;
    margin: auto;
}
p{
    text-align: left;
    font-size: 20px;
    margin-left :auto;
    margin-right: auto;
}

/* section 2 now  */
/* .gif-position{
    position: relative;
    display:flex;
} */
/* .gif1-position{
    position: absolute;
    
    height: 500px;
    width: 500px;
    top:10px;
    left: 0;
}
.gif2-position{
    position: absolute;
    
    height: 500px;
    width: 500px;
    top:10px;
    bottom: 0;
} */
.gif-position{
    display: flex;
    position: relative;
}
.gif1-position{
    flex: 1;
}
.gif2-position{
    flex: 1;
    margin-top: 40px;
}
