@media only screen and (max-width: 991px){
    nav {
        width: 100%;
        height: 100vh;
       background-image: url('../../assets/images/Journal/blog-bg.jpg');
       /* background-color: yellow!important; */
       background-position: center;
       background-size: cover;
    }
    .list-box {
        height: 47px;
    }
    .col-md-3{
        /* visibility: hidden; */
        display: none;
    }

    .entry-title {
        width: 100%;
    }

    .post-title span {
        display: inline;
    }

    .wrapper-med {
        margin-top: 50px;
        width: auto;
    }

    .footer-content li a {
        padding-right: 20px;
    }
    
}

@media only screen and (max-width: 767px){

    .hero-inner h2 {
        font-size: 54px;
    }
    .title-alt{
        font-size: 20px;
    }
    .entry-title{
        float: none;
    }
    .post-title span{
        display: inline-block;
        font-size: 16px;
    }
    .left-col {
        width: 50%;
    }
    .h8 {
        font-size: 16px;
        width: 270px;
    }
    #footer{
        margin-left: -4px;
    }
    .pagination {
        margin-left: 30px;
    }
    .copyright{
        margin-top: 0px;
    }
    .copyright h6 {
        float: left;
    }

}
@media only screen and (max-width: 575px){

    .nav-inner-wrapper{
        margin-left: 174px;
        margin-right: 0px;
    }
    .col-section {
        width: 50%;
        display: inline-block;
    }
    .entry-title{
        font-size: 35px;
        font-weight: 100;
    }
    .post-title span{
        font-size: 23px!important;
    }
    #mouseDiv{
        padding-bottom: 5px;
    }
.caroline{
        display: none;
    }
    .social-media a{
        font-size: 16px;
        width: 108px
    }
    .right-col {
        width: 180%;
    }
    .copyright{
        margin-top: 0px;
    }
    .pagination {
        width: 100%;
        margin-left: 10px;
    }
    #footer{
        left: -20%;
    }
    .footer-wrapper{
        margin: 0 140px;
    }
    .text {
        font-size: 14px;
    }
    .page span{
        font-size: 14px;
    }
    .pagination li a {
        font-size: 14px;
    }
    .footer-content h6{
        margin-left: 122px;
    }
    .copyright h6{
        margin-left: 122px;
    }
}
